.locationSearchContainer {
  width: 100%;
}

.locationSearchInput {
  display: block;
  width: 100%;
  border-radius: 1.5rem;
  padding: 0.5rem;
  padding-left: 2rem;
  margin-bottom: 0.8rem;
  margin-top: 3.5rem;
  border: 1px solid #bdbdbd;
  height: 3rem;
  background-color: e8e8e8;
}

::placeholder {
  font-family: 'Inter', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #bdbdbd;
}
