.SunlightTimesCont {
  font-size: 0.875rem;
  letter-spacing: 0.5px;
}

.SunlightTimesDateHeader {
  text-align: center;
}

.SunlightTimesSunrise {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.SunlightTimesIcon {
  margin-right: 5px;
}
